.button {
  align-items: center;
  border: 2px solid var(--clr-green);
  border-radius: 10px;
  color: var(--clr-green);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: center;
  padding-block: 10px;
  text-decoration: none;
  transition: all 0.4s ease;
  width: 100px;
}

.button:hover {
  background-color: var(--clr-green);
  color: var(--clr-primary);
}
