/********** FONTS **********/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

/********** CSS RESET **********/
@import "./reset.css";

/********** CUSTOM PROPERTIES **********/
:root {
  --clr-primary: #132e32;
  --clr-secondary: #efe6dd;
  --clr-green: #baff29;
}

/********** UNIVERSAL STYLES **********/
body {
  background-color: var(--clr-primary);
  font-family: "Inter", sans-serif;
}
